<style type="text/css" media="screen">
	.valid{color:green;}
	.invalid{color:red;}
</style>

<p>Configuration</p>
<form action="config" method="post" accept-charset="utf-8">
	<label for="search_folders">Add a search folder: </label><input type="text" name="search_folders" value="" id="search_folders"/>
	<input type="submit" value="Save"/>
</form>

<% if !@search_folders.nil? %>
<table id="searchFolders">
	<% @search_folders.each_with_index do |f,i| %>
		<tr>
			<% if File.directory?(f) %>
			<td class="valid"><%= f %></td><% else %><td class="invalid"><%= f %></td>
			<% end %>
			<td><a href="/destroy?id=<%= f %>">Delete</a></td>
		</tr>
		
	<% end %>	
</table>
<% else %>
<p>No search folders.</p>
<% end %>