<br />
<form id="filter-form">Filter: <input name="filter" id="filter" value="" maxlength="30" size="30" type="text"></form>
<br />

<form action="/convert" method="post" accept-charset="utf-8">
	<select name="preset" id="preset" onchange="" size="1">
		<option value="iPad">iPad</option>
		<option value="iPhone">iPhone</option>
	</select>
	
	<input type="submit" name="video_convert_action" value="Convert" id="">

<table id="video_index" class="striped">
	<thead>
		<tr>
		<th id='video_check_all'>
			<input name="video_check_all" value="" id="" type="checkbox"/>
		</th>
		<th>Name</th>
		<th>Size</th>
		</tr>
	</thead>
	<tbody>
		<% @videos.each do |video| %>
		<tr>
				<td><input name="videos[]" value="<%= video.id %>" id="" type="checkbox" />
				</td>
				<td><%= video.name %></td>
				<td><%= video.size_mb %>MB</td>
		</tr>
		<% end %>
	</tbody>
</table>
</form>
