<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<title>Drop Folders</title>
	</head>
	<h3>Drop Folders</h3><a href="http://famas:5678">View Resque</a>
	<body id="index" onload="">
		<%= yield %>
	</body>
</html>